html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

#second-body {
	max-width: 800px;
	min-width: 600px;
	margin: auto;
	padding: 10px;
}

a {
	margin-top: 5px;
}

code {
	background-color: #b5b5b5;
	color: #343333;
	border: 0.5px solid #b5b5b5;
	border-radius: 3px;
}

li {
	margin-top: 3px;
}

#help {
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: lightgrey;
	border: 3px solid grey;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.head {
	display: inline;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	font-weight: 500;
}

.tags-container {
	border: solid 2.5px lightgrey;
	border-radius: 5px;
	padding: 7px;
}

.tag-btn {
	background-color: rgb(0, 188, 212);
	border: 0px;
	padding: 8px;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	cursor: pointer;
	margin: 4px;
	transition: 0.5s;
}

.rating-container{
	margin-top: 10px;
	margin-bottom: 10px;
}

.temp {
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 2.5px lightgrey;
	border-radius: 5px;
	padding: 8px;
}

.prob-num-container {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.rating-label, .prob-num-label, .handles-label {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.add-handle-btn {
	background-color: #16a942;
	border: 0px;
	border-radius: 3px;
	padding: 4px 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s;
}

.add-handle-btn:hover {
	background-color: green;
}

#handles {
	height: 25px;
	width: 210px;
	border: 3px solid lightgrey;
	border-radius: 6px;
}

input {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.accepted-handles {
	display: none;
	border: solid 2.5px lightgrey;
	border-radius: 8px;
	padding: 8px;
	margin-top: 10px;
	border-radius: 10px;
}

.accepted-handle {
	display: grid;
	margin: 3px;
	border: 3px solid lightgreen;
	border-radius: 8px;
	padding: 8px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.4s;
	cursor: pointer;
	grid-template-columns: auto;
}

.accepted-handle:hover {
	background-color: #e1e179;
}

.accepted-handle:active {
	background-color: lightcoral;
}

.problems-container {
	border: solid 2.5px lightgrey;
	border-radius: 8px;
	padding: 8px;
	min-width: 600px;
	margin-top: 10px;
	display: none;
	grid-template-columns: auto;
}

.problem {
	margin: 5px;
	border: 2.5px solid lightgrey;
	border-radius: 6px;
	padding: 5px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.tooltip .tooltiptext {
  display: none;
  background-color: #5d5e5d;
  color: #fff;
  font-weight: normal;
  font-style: italic;
	font-family: 'Roboto', sans-serif;
	text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 130%;
  right: 10%;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}

.tooltip:hover .tooltiptext {
	display: inline;
}

.code-btn {
	width: 110px;
	height: 30px;
	border: 2px solid green;
	border-radius: 6px;
	background-color: #00ff4c;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.code-btn:hover {
	background-color: #16a942;
}

.tags-btn {
	width: 170px;
	height: 30px;
	border: 2px solid green;
	border-radius: 6px;
	background-color: #00ff4c;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.tags-btn:hover {
	background-color: #16a942;
}

.rate-btn {
	width: 170px;
	height: 30px;
	border: 2px solid green;
	border-radius: 6px;
	background-color: #00ff4c;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.rate-btn:hover {
	background-color: #16a942;
}

.gen-btn-container {
	display: block;
	text-align: center;
	margin: 10px;
}

.gen-btn {
	width: 180px;
	height: 40px;
	border: 0px solid;
	border-radius: 7px;
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
	background-color: violet;
	cursor: pointer;
	transition: 0.5s;
}

.gen-btn:hover {
	background-color: #e346e3;
}

.some-class {
	font-size: 15px;
	font-style: italic;
}

.another-class {
	border: 2px solid lightgrey;
	border-radius: 4px;
	width: 50px;
	font-size: 15px;
}

.storage-btns-container {
	display: block;
	text-align: center;
}

.storage-save, .storage-reset {
	cursor: pointer;
	width: 90px;
	font-family: monospace;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	border: 0px solid grey;
	border-radius: 7px;
	transition: 0.5s;
}

.storage-reset {
	background-color: lightcoral;
}

.storage-reset:hover {
	background-color: #fd4a4a;
}

.storage-save {
	background-color: lightgreen;
}

.storage-save:hover {
	background-color: #4fff4f;
} 

#github {
  font-family: Roboto;
  background-color: rgb(36, 41, 46);
  display: flex;
  justify-content: center;
  align-items: center;
 }

#github span {
  color: white;
  user-select: none;
  cursor: pointer;
}

#github img	{
	width: 30px;
	margin: 10px;
  user-select: none;
  cursor: pointer;
}