body {
	max-width: 800px;
	min-width: 600px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.tags-container {
	border: solid 2.5px;
	border-color: lightgrey;
	border-radius: 5px;
	padding: 7px;
}

.tag-btn {
	background-color: rgb(0, 188, 212);
	border: 0px;
	padding: 8px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	font-family: arial;
	cursor: pointer;
	margin: 4px;
	transition: 0.5s;
}

.rating-container{
	margin-top: 10px;
	margin-bottom: 10px;
}

.prob-num-container {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.rating-label, .prob-num-label, .handles-label {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 18px;
}

.add-handle-btn {
	background-color: #00ff4c;
	border: 0px;
	border-radius: 3px;
	padding: 7px 12px;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s;
}

.add-handle-btn:hover {
	background-color: #16a942;
}

#handles {
	height: 25px;
	border: 3px solid lightgrey;
	border-radius: 6px;
}

input {
	font-size: 20px;
}

.accepted-handles {
	margin-top: 10px;
	/* border: 4px solid grey; */
	border-radius: 10px;
	padding: 10px;
}

.accepted-handle {
	display: grid;
	margin-top: 3px;
	margin-left: 3px;
	border: 4px solid grey;
	border-radius: 10px;
	padding: 8px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	transition: 0.4s;
	cursor: pointer;
	grid-template-columns: auto;
}

.accepted-handle:hover {
	background-color: rgb(215 208 54);
}

.accepted-handle:active {
	background-color: red;
}

.problems-container {
	min-width: 600px;
	margin-top: 10px;
/*	border: 4px solid grey;*/
	border-radius: 10px;
	padding: 10px;
	display: grid;
	grid-template-columns: auto;
}

.problem {
	margin: 3px;
	border: 4px solid grey;
	border-radius: 10px;
	padding: 5px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.tooltip .tooltiptext {
/*  visibility: hidden;*/
  display: none;
  background-color: #5d5e5d;
  color: #fff;
  font-weight: normal;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 130%;
  right: 10%;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}

.tooltip:hover .tooltiptext {
/*  visibility: visible;*/
	display: inline;
}

.code-btn {
	width: 80px;
	height: 30px;
	border: 2px solid green;
	border-radius: 100px;
	background-color: #00ff4c;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.code-btn:hover {
	background-color: #16a942;
}

.link-btn {
	width: 80px;
	height: 30px;
	border: 2px solid green;
	border-radius: 100px;
	background-color: #00ff4c;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.link-btn:hover {
	background-color: #16a942;
}

.tags-btn {
	width: 170px;
	height: 30px;
	border: 2px solid green;
	border-radius: 100px;
	background-color: #00ff4c;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.tags-btn:hover {
	background-color: #16a942;
}

.rate-btn {
	width: 170px;
	height: 30px;
	border: 2px solid green;
	border-radius: 100px;
	background-color: #00ff4c;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
	transition: 0.5s;
}

.rate-btn:hover {
	background-color: #16a942;
}

.gen-btn-container {
	text-align: center;
	margin: 10px;
}

.gen-btn {
	width: 150px;
	height: 40px;
	border: 3px solid;
	border-radius: 10px;
	font-family: monospace;
	font-size: 20px;
	background-color: violet;
	cursor: pointer;
	transition: 0.5s;
}

.gen-btn:hover {
	background-color: #e346e3;
}

.some-class {
	font-size: 15px;
	font-style: italic;
}

.another-class {
	border: 2px solid lightgrey;
	border-radius: 4px;
	width: 50px;
	font-size: 15px;
}